.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin: 0px 10px 80px 10px;
}

.logo{
    width: 300px;
}

.nav-link{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #000;
}

.logo-ag-photo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 80px;
    cursor: pointer;
}

.logo-name{
    font-family: 'PT Serif', serif;
    font-size: 20px;
    font-weight: 400;
    color: #564734;
    margin-left: 10px;
}

.btn{
    display: none;
    margin-right: 40px;
}

.MuiButton-text {
  background-color: #ed9bae !important;
}

.MuiButton-label {
  color: #564734 !important;
}

.MuiListItem-button {
  color: #564734 !important;
}

.MuiListItem-button:hover {
  text-decoration: none;
  background-color: #ed9bae !important;
}

